* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #01070c;

  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  width: 100%;
  height: 100%;
  background-image: url("./assets//bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
main section {
  width: 80%;
  height: 100%;
  position: relative;
}
nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.logo {
  width: 200px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu p {
  font-size: medium;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in;
}

.menu p:hover {
  border-bottom: 2px solid #00cab5;
  box-shadow: 0 8px 8px -6px #00cab5;
}

nav button {
  padding: 15px 30px;
  background: transparent;
  color: white;
  border: 1px solid #00cab5;
  border-radius: 50px;
  font-size: medium;
  font-weight: 400;
  word-spacing: 3px;
}

nav button i {
  color: #00cab5;
}

section .main-content {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}

.main-content .left-content {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.left-content .top {
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
  color: #00cab5;
  padding: 5px;
}

.left-content h1 {
  font-size: 110px;
  line-height: 0.7;
  font-weight: 800;
}

.left-content h1 span {
  font-size: 95px;
  color: #00cab5;
}

.left-content .after-head {
  padding: 40px 0px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
  font-family: monospace;
}

.left-content .down {
  font-size: large;
  font-weight: 400;
  font-family: monospace;
  opacity: 0.8;
}

.left-content .btn {
  padding-top: 20px;
}

.left-content .btn .first-btn {
  padding: 15px 20px;
  border: 2px solid #00cab5;
  border-radius: 10px;
  background: linear-gradient(to right, #01070c, #00cab5);
  color: white;
  font-size: large;
}

.left-content .btn .second-btn {
  padding: 10px 20px;
  background: transparent;
  color: white;
  font-size: large;
  border: none;
}

.left-content .btn .second-btn i {
  border: 2px solid #00cab5;
  border-radius: 50%;
  font-size: 20px;
}

.main-content .right-content {
  padding-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-content .contain {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.right-content .contain i {
  width: 50px;
  height: 50px;
  border: 2px solid #00cab5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.right-content p {
  font-size: large;
  font-weight: 600;
  font-family: monospace;
  opacity: 0.7;
}

main section .hero {
  position: absolute;
  height: 90%;
  bottom: 0%;
  right: 18%;
  z-index: 0;
}

.bottom-container {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 12px 100px;
  z-index: 1;
  position: absolute;
  bottom: -10%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid #888888c2;
  border-radius: 10px;
}

.bottom-container hr {
  height: 60%;
  opacity: 0.5;
}

.box-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-bottom h3 {
  color: #00cab5;
  font-size: 30px;
  font-family: monospace;
  font-weight: 700;
}

.box-bottom p {
  font-size: medium;
  font-weight: 200;
  font-family: monospace;
  opacity: 0.7;
  text-align: center;
}

.star-2 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 10px;
}

.star-1 {
  position: absolute;
  width: 150px;
  height: 130px;
  right: 10px;
}

.section-2 {
  width: 80%;
  height: 100%;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 100px;
}

.container {
  padding: 10px 20px;
  width: 100%;
}

.heading-tag {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-tag .tag {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.heading-tag .arrow-icons {
  width: 50%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  gap: 20px;
}

.tag h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: monospace;
}

.tag h1 span {
  font-size: 20px;
  color: #00cab5;
}

.arrow-icons i {
  width: 50px;
  height: 50px;
  border: 2px solid #00cab5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.arrow-icons i:hover {
  color: #00cab5;
}

.cards {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards .card-box {
  width: 32%;
  height: 100%;
  overflow: hidden;
  border: 2px solid #00cab5;
  border-radius: 10px;
}

.cards .card-box img {
  width: 100%;
  height: 60%;
}

.card-box .card-desc {
  width: 100%;
  height: 40%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-box .card-desc p {
  font-size: medium;
  font-weight: 400;
  opacity: 0.8;
}

.card-desc .card-icon {
  display: flex;
  justify-content: space-between;
}

.card-desc .card-icon .right-arrow-box {
  width: 40px;
  height: 40px;
  border: 2px solid #00cab5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-icon .brand-icon {
  display: flex;
  gap: 10px;
}
